<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Prueba</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/prueba.css" />
  </head>

  <body
    id="cuerpo"
    class="cuerpo"
    onload="crearTabAlto(); crearTabBajo();"
    style="font-family: 'Raleway', sans-serif;"
  >
    <div class="container-fluid" id="editores">
      <div class="row">
        <div class="col-sm-6">
          <h3 style="text-align: center;">Alto Nivel</h3>
          <button
            type="button"
            class="btn btn-primary"
            onclick="TraducurAlto()"
          >
            Traducir
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            onclick="crearTabAlto()"
          >
            Nuevo
          </button>
          <input
            id="archivoAlto"
            type="file"
            style="display: none;"
            m
            onchange="abrirArchivo()"
          />
          <input
            id="archivoBajo"
            type="file"
            style="display: none;"
            m
            onchange="abrirArchivoBajo()"
          />
          <button
            type="button"
            class="btn btn-info"
            onclick="document.getElementById('archivoAlto').click();"
          >
            Abrir
          </button>
          <button type="button" class="btn btn-success" onclick="guardarAlto()">
            Guardar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            onclick="cerrarActualAltoTab()"
          >
            Cerrar
          </button>
          <br />
          <div class="tab" id="tabslinksAlto"></div>
          <div id="tabsAlto"></div>
        </div>
        <div class="col-sm-6">
          <h3 style="text-align: center;">Bajo Nivel</h3>
          <button type="button" class="btn btn-primary" onclick="ejecutar3D()">
            Ejecutar
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            onclick="crearTabBajo()"
          >
            Nuevo
          </button>
          <button
            type="button"
            class="btn btn-info"
            onclick="document.getElementById('archivoBajo').click();"
          >
            Abrir
          </button>
          <button type="button" class="btn btn-success" onclick="guardarBajo()">
            Guardar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            onclick="cerrarActualBajoTab()"
          >
            Cerrar
          </button>

          <button
            type="button"
            class="btn btn-dark"
            onclick="OptimizarMirilla()"
          >
            Optimizar Mirilla
          </button>
          <button
            type="button"
            class="btn btn-warning"
            onclick="ObtimizarBloques()"
          >
            Optimizar Bloques
          </button>
          <div class="tab" id="tabsLinksBajo"></div>
          <div id="tabsBajo"></div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="tab" id="reportes">
          <button id="btnConsola" onclick="cambiarReporte('divConsola')">
            Consola
          </button>
          <button id="btnErrores" onclick="cambiarReporte('divErrores')">
            Errores
          </button>
          <button id="btnTablaSimbolos" onclick="cambiarReporte('divTabla')">
            Tabla
          </button>
          <button id="btnAst" onclick="cambiarReporte('divAst')">Ast</button>
          <button id="btnOpt" onclick="cambiarReporte('divOpt')">
            Optimizacion
          </button>
          <button id="btnBloq" onclick="cambiarReporte('divBloques')">
            Diagrama Bloques
          </button>
        </div>
        <div class="tabsReportes">
          <div id="divConsola" style="display: block;" class="reporte">
            <textarea class="form-control" id="consola" rows="8"></textarea>
          </div>
          <div id="divErrores" style="display: none;" class="reporte"></div>
          <div id="divTabla" style="display: none;" class="reporte"></div>
          <div
            id="divAst"
            style="display: none;"
            class="reporte"
            style="height: 450px;"
          >
           
          </div>
          <div id="divOpt" style="display: none;" class="reporte"></div>
          <div id="divBloques" style="display: none;" class="reporte">
            
          </div>
        </div>
      </div>
    </div>

    <script src="js/mermaid.min.js"></script>
    <script>
      mermaid.initialize({ startOnLoad: false });
    </script>

    <button type="button" class="btn btn-light">Light</button>

    <button type="button" class="btn btn-link">Link</button>

    <script type="text/javascript" src="ace/ace.js"></script>

    <script src="js/Jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="js/Funciones.js"></script>

    <script>
      var exports = {};
    </script>

    <script src="analizador3D/Ejecutar3D.js"></script>
    <script src="analizador3D/Gramatica/gramatica3d.js"></script>
    <script src="analizador3D/Tabla/Simbolo.js"></script>
    <script src="analizador3D/Tabla/Tabla.js"></script>
    <script src="analizador3D/Arbol/AccesoEstructura.js"></script>
    <script src="analizador3D/Arbol/Asignacion.js"></script>
    <script src="analizador3D/Arbol/AsignacionEstructura.js"></script>
    <script src="analizador3D/Arbol/Ast.js"></script>
    <script src="analizador3D/Arbol/DeclararEstructura.js"></script>
    <script src="analizador3D/Arbol/DeclararTemporales.js"></script>
    <script src="analizador3D/Arbol/Etiqueta.js"></script>
    <script src="analizador3D/Arbol/FinMetodo.js"></script>
    <script src="analizador3D/Arbol/Goto.js"></script>
    <script src="analizador3D/Arbol/Identificador.js"></script>
    <script src="analizador3D/Arbol/InicioMetodo.js"></script>
    <script src="analizador3D/Arbol/LLamada.js"></script>
    <script src="analizador3D/Arbol/MenosUnario.js"></script>
    <script src="analizador3D/Arbol/Metodo.js"></script>
    <script src="analizador3D/Arbol/Operacion.js"></script>
    <script src="analizador3D/Arbol/Primitivo.js"></script>
    <script src="analizador3D/Arbol/Print.js"></script>
    <script src="analizador3D/Arbol/SaltoCondicional.js"></script>
    <script src="analizador3D/Arbol/SaltoCondicionalFalso.js"></script>

    <script src="analizadorAlto/Reportes/ReporteErrores.js"></script>
    <script src="analizadorAlto/Reportes/NodoDot.js"></script>

    <script src="analizadorAlto/ArbolAlto/CambioFlujo/BreakAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/CambioFlujo/ContinueAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/CambioFlujo/ReturnAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/CambioFlujo/ThrowAlto.js"></script>

    <script src="analizadorAlto/ArbolAlto/Ciclos/WhileAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/Ciclos/ForAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/Ciclos/DoWhileAlto.js"></script>

    <script src="analizadorAlto/ArbolAlto/ControlFlujo/SiAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ControlFlujo/SeleccionarAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ControlFlujo/CasoAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ControlFlujo/TryCatchAlto.js"></script>

    <script src="analizadorAlto/ArbolAlto/Entorno/AsignacionAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/Entorno/AsignacionAccesos.js"></script>
    <script src="analizadorAlto/ArbolAlto/Entorno/AsignacionLlamadaAccesos.js"></script>
    <script src="analizadorAlto/ArbolAlto/Entorno/DeclaracionAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/Entorno/DeclaracionSinTipoAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/Entorno/DeclararArregloAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/Entorno/DefinirEstructura.js"></script>
    <script src="analizadorAlto/ArbolAlto/Entorno/FuncionAlto.js"></script>

    <script src="analizadorAlto/ArbolAlto/Primitivas/ImprimirAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/Primitivas/GenerarFuncionesPropias.js"></script>
    <script src="analizadorAlto/ArbolAlto/Primitivas/GenerarFuncionesString.js"></script>
    <script src="analizadorAlto/ArbolAlto/Primitivas/ImportarAlto.js"></script>

    <script src="analizadorAlto/ArbolAlto/ValorImplicito/Acceso.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/AccesoAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/ArregloConTipoAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/ArregloSinTipoAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/CrearEstructuraAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/IdentificadorAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/LLamadaAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/LlamadaTipo2Alto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/LLamadaAccesoAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/OperacionAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/PrimitivoAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/AumentoAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/DecrementoAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/CasteoAlto.js"></script>
    <script src="analizadorAlto/ArbolAlto/ValorImplicito/PorValorAlto.js"></script>

    <script src="analizadorAlto/ArbolAlto/AstAlto.js"></script>
    <script src="analizadorAlto/Error/ErrorAlto.js"></script>
    <script src="analizadorAlto/GramaticaAlto/GramaticaAlto.js"></script>

    <script src="analizadorAlto/TablaAlto/SimboloAlto.js"></script>
    <script src="analizadorAlto/TablaAlto/SimboloFuncion.js"></script>
    <script src="analizadorAlto/TablaAlto/TablaAlto.js"></script>
    <script src="analizadorAlto/TablaAlto/Entorno.js"></script>
    <script src="analizadorAlto/TablaAlto/Atributo.js"></script>
    <script src="analizadorAlto/TablaAlto/Estructura.js"></script>

    <script src="analizadorAlto/TraducirAlto.js"></script>

    <script src="analizadorOptimizacion/Obtimizar.js"></script>
    <script src="analizadorOptimizacion/Gramatica/GramaticaOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/ArbolOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/AsignarEnEstruOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/AsignarEstruOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/AsignarOperacionOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/AsignarSimpleOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/DeclararEstruOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/DeclararTemOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/EtiquetaOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/FinProcOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/InicioProcOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/LlamadaOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/PrintOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/SaltoCondicionalOp.js"></script>
    <script src="analizadorOptimizacion/ArbolOp/SaltoIncondicionalOp.js"></script>
    <script src="analizadorOptimizacion/Reporte/NodoOp.js"></script>
    <script src="analizadorOptimizacion/Reporte/ReporteOp.js"></script>
    <script src="analizadorOptimizacion/Reporte/NodoBloque.js"></script>
    <script src="analizadorOptimizacion/ObtimizarBloques.js"></script>
  </body>
</html>
